# Differencing & Data Smoothing by Simple Moving Averages (SMA)

In [171]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Import dataset, manipulate data fields and visualise the data

In [172]:
df = pd.read_csv('/Users/dileepsathyan/Documents/GitHub/datasets/ts_sales_data.csv')
df.head()

         date     value
0  1991-07-01  3.526591
1  1991-08-01  3.180891
2  1991-09-01  3.252221
3  1991-10-01  3.611003
4  1991-11-01  3.565869

In [173]:
df.columns = ['Date', 'Sales']
df.head()

         Date     Sales
0  1991-07-01  3.526591
1  1991-08-01  3.180891
2  1991-09-01  3.252221
3  1991-10-01  3.611003
4  1991-11-01  3.565869

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    204 non-null    object
 1   Sales   204 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.3+ KB

In [175]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

        Date     Sales
0 1991-07-01  3.526591
1 1991-08-01  3.180891
2 1991-09-01  3.252221
3 1991-10-01  3.611003
4 1991-11-01  3.565869

In [ ]:
df = df.set_index('Date')
df.head()

In [ ]:
plt.figure(figsize=(10,5))
plt.plot(df.Sales)

## Differencing

In [ ]:
df['Prev_Month_Sales'] = df['Sales'].shift(1)
df.head()

In [ ]:
df['Diff_Sales'] = df['Prev_Month_Sales'] - df['Sales']
df.head()

In [ ]:
fig = plt.figure(figsize=(10,5))
plt.plot(df[['Sales', 'Diff_Sales']])

## Data Smoothing using Simple Moving Averages (SMA)

### Moving Averages over a window of 6 months (as the seasonality is shows up twice every year on the above visual)

In [ ]:
df['Rolling_Avg'] = df['Sales'].rolling(window=6).mean()
df.head(10)

In [ ]:
fig = plt.figure(figsize=(10,5))
plt.plot(df[['Sales', 'Rolling_Avg']])

### Zoom in to see how the SMA has smoothened the data.

In [ ]:
fig = plt.figure(figsize=(10,5))
plt.plot(df[['Sales', 'Rolling_Avg']].head(50))